.main{
    width: 50%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
}

#header {
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

#sub-header{
    text-align: center;
    font-size: 15px;
    margin: 0px;
    color: darkgray;
}

#form{
    margin-top: 20px;
}

.class{
    display: flex;
    flex-direction: column;
}

.topic{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}
.content{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px; 
}

.container-man{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.container-woman{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}


.container-man > input{
    visibility: hidden;
}

.container-woman > input{
    visibility: hidden;
}

.title{
    width: 30%;
    height: auto;        
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container-man input:checked ~ .container-man-mark{
    background-position: -5px -537px;
}

.container-woman input:checked ~ .container-woman-mark{
    background-position: -803px -271px;
}


.content input ~ span{
    margin-left: 10px;
}

.content input:checked ~ span{
    margin-left: 10px;
}

.container-man input ~ span{
    margin-left: 10px;
}

.container-woman input ~ span{
    margin-left: 10px;
}

.topic .content > label{
    margin-right: 5px;
}

.topic .content > label > input{
    width: 20px;
}

.family-history-chackboxes label{
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.content label input:checked ~ span{
    font-weight: 600;
}


.family-history-chackboxes{
    display: flex;
    flex-direction: column;
}

.container-parents input:checked ~ .container-parents-mark{
    background-position: -5px -271px;
}

.container-siblings input:checked ~ .container-siblings-mark{
    background-position: -5px -271px;
}

.container-parents > input{
    visibility: hidden;
}
.container-siblings > input{
    visibility: hidden;
}

.topic .title{
    text-transform: uppercase;
    font-size: 15px;
    color: darkgray;
}


#height-weight label{
    margin-right: 30px;
}

#height-weight input{
    text-align: center;
    width: 30px;
    height: 30px;
}

#height-weight label:nth-of-type(2) input{
    width: 40px;
}

#height-weight label:nth-of-type(3) input{
    width: 50px;
}

#family-history .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#family-history span{
    margin: 0;
    color: darkgray;
    display: block;    
}

#family-history span:first-of-type{
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.family-history-chackboxes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.activity-level input:checked ~ span{
    font-weight: 600;
}

#not-active{
    display: flex;
    flex-direction: row;
}

#not-active label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
}

.container-lazy >  input{
    visibility: hidden;
}

.container-active >  input{
    visibility: hidden;
}

.activity-level{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.activity-level #activity-q{
    font-weight: 600;
    margin-bottom: 20px;
}

.container-lazy input:checked ~ .container-lazy-mark{
    background-position: -271px -271px;
}

.activity-active input:checked ~ .container-active-mark{
    background-position: -5px -5px;
}

#diabete-q {
    font-weight: 600;
}

.diabete{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

#diabete-status{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.container-type-2 >  input,
.container-pre-diabete >  input,
.container-neither >  input{
    visibility: hidden;
}

#diabete-status label{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 10px;
}

.container-neither input:checked ~ .container-neither-mark,
.container-type-2 input:checked ~ .container-type-2-mark,
.container-pre-diabete input:checked ~ .container-pre-diabete-mark{
    background-position: -537px -5px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}