/* .p1{
    position:relative;
}
.div2{
    position:absolute;
    bottom:10px;
    left:10px;
    display:none;
    width: 20px;
    height: 20px;
    background-color: black;
}
.p1:hover .div2{
    display:block;
}radio */
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.custommarkf{
    position:relative;
    left:20px;
    bottom:40px;
    width:68px;
    height:68px;
    display:block;
    background-image: url("spritesheet.png");
    background-position: -2.1px -151px;
}
.pf{
    position:relative;
    left:75px;
}

.custommarkm{
    position:relative;
    left:90px;
    bottom:40px;
    width:68px;
    height:68px;
    display:block;
    background-image: url("spritesheet.png");
    background-position: -2.1px -225px;
}
.pm{
    position:relative;
    left:150px
}
.container input:checked ~ .custommark{
    background-position: -3px -6px;
}

.container input:checked ~ .custommarkf { 
    background-position: -2.1px -151px;
    box-shadow: 0 0 6px blue;
    border-radius: 50%;
}
.container input:checked ~ .custommarkm { 
    background-position: -2.1px -225px;
    box-shadow: 0 0 6px blue;
    border-radius: 50%;
}
input[type="radio"] {
    opacity:0;
    position:relative;
    left:200px;
}
input[type="checkbox"] {
    opacity:0;
    position:relative;
    left:200px;
}
.container{
    display:inline-block;
    cursor:pointer;
}
legend{
    text-align:center;
    
}
.custommarkp{
    position:relative;
    left:7px;
    bottom:29px;
    width:68px;
    height:68px;
    display:block;
    background-image: url("spritesheet.png");
    background-position: -2.1px -446px;
}
.container input:checked ~ .custommarkp { 
    background-position: -2.1px -520px;
}
.pp{
    position:relative;
    left:68px;
    top:11px;
}
.custommarks{
    position:relative;
    left:76px;
    bottom:28px;
    width:68px;
    height:68px;
    display:block;
    background-image: url("spritesheet.png");
    background-position: -2.1px -446px;
}
.container input:checked ~ .custommarks { 
    background-position: -2.1px -520px;
}
.ps{
    position:relative;
    left:142px;
    top:11px;
}
#fh{
    position:relative;
    top:17px;
}
#hw{
    position:relative;
    bottom:21px;
}
#af{
    position:relative;
    bottom:2px;
    left:181px;
}
.custommarka{
    position:relative;
    left:28px;
    bottom:28px;
    width:68px;
    height:68px;
    display:block;
    background-image: url("spritesheet.png");
    background-position: -2.1px -446px;
}
.container input:checked ~ .custommarka { 
    background-position: -2.1px -372px;
}
.custommarkn{
    position:relative;
    left:99px;
    bottom:28px;
    width:68px;
    height:68px;
    display:block;
    background-image: url("spritesheet.png");
    background-position: -2.1px -446px;
}
.container input:checked ~ .custommarkn { 
    background-position: -2.1px -372px;
}
.pa{
    position: relative;
    left:89px;
    top:13px;
}
.pn{
    position: relative;
    left:163px;
    top:13px;
}
#al{
    position: relative;
    top:16px;
}

