

p, h1, h2 { 
    color: black !important;/*  */
    font-size: 3rem;
    font-family: 'Caveat', cursive;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}/* блок объявлений */
#i1 {
color:red
}
.class1, #i2 {
    color:blue
}
a[href^="http"]{/* ^-значение атрибута начинается на..., $-заканчивается на..., *-содержит слово...,~-слово, окруженное пробелами, |-применять к объектам с определенным атрибутом lang, alt */
    color: black;
}/* для внешних ссылок */
.class1.class2.class3 {
    color: aliceblue
}

li li li {

}/* эл-ты li третьего уровня */

li:hover {
    color: blue;
}
/* псевдокласс (состояние э-та) */

a:visited {
    color:lime;
}
a:hover {
    color:blue;
}

/* псведоэлемент */
::selection {
    background-color:blue;
}

div.pic1{
    width: 1000px;
    height: 900px;
    background-image: url("https://images.homedepot-static.com/productImages/67107669-aedd-415d-9929-c6b08df42cc7/svn/costa-farms-house-plants-10maj-64_1000.jpg");
    background-size: cover;
}
.pic1:hover{
    width: 1000px;
    height: 900px;
    background-image: url("https://i5.walmartimages.com/asr/54830a95-a619-4eff-bf97-1e9c2b9c48fb_1.0c1ae21ae6c8c8f7802065176b4ba685.jpeg");
    
}
.avaj{
    background-color: red;
}
.dragneel{
    background-color: blue;
}
.bugs{
    background-color: green;
}
.col{
    background-color: aquamarine;
}
.border{
    border-collapse: collapse;
    border: 1px solid black;
}
[title] {
    /* для всех элементов с атрибутом title */


}
html, body {
    -ms-scrollbar-base-color: blue;
}

#p{
    width: 1000px;
    height: 1000x;
    background-color: brown;
    overflow: scroll;
    word-break: break-all;
    direction: ltr;
}
#p::-webkit-scrollbar{
    width: 100px;
    height: 400px;
}
#p::-webkit-scrollbar-track{
    background:red;
    hyphens: hhjj;
}
#p::-webkit-scrollbar-thumb{
    background-image: url("./img/Без названия.jpg");
    border-radius: 700px;
}
body {
    cursor: url("./img/cur.ani") auto;
}
area {
    outline:none;
}
q{
    quotes: "'" "'";
}
blockquote{
    border: 2px solid black;
    background-color: brown;
}
li{
    list-style: none;
    margin:0;
    padding:0;

}
nav{
    display: flex;
    background-color: red;
    justify-content:space-around;
}
.div1{
    width: 200px;
    height: 500px;
    background-color: rgb(77, 148, 77);
    position: relative;
    left: 600px;
}
.div2{
    width: 100px;
    height: 250px;
    background-color: rgb(0, 238, 255);
    position:absolute;
}
img{
    position: absolute;
}
/* .div3{
    width: 100px;
    height: 250px;
    background-color: red;
    position: fixed;
    top:50%;
    right:50%;
} */
.div4{
    width: 100px;
    height: 100px;
    background-color: blue;
    position:absolute;
    top:60px;
    left:50px;
    z-index: 5;
}
.div5{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position:absolute;
    top:50px;
    left:60px;
    z-index:4;
}
.div6{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position:absolute;
    top:40px;
    left:70px;
    z-index:3;
}
img{
    position: relative;
    left:40%;
}