.div{
    width: 300px;
    height: 500px;
}
.clip1{
    position: absolute;
    clip: rect(0px 120px auto 0px);
}
.clip2{
    position: absolute;
    clip: rect(0px 240px auto 120px);
} 
.clip3{
    position: absolute;
    clip: rect(0px 360px auto 240px);
} 
img:active{
    clip:unset;
    z-index:1;
}