.kar{
    width: 450;
    height: 350px;
}
a[href^="http"]{
    background-color: bisque;
}
li:hover{
    color: red;
}
a:visited{
    color: black;   
}
.picture:hover{
    background-image: url(http://kidpassage.com/images/publications/fruktyi-v-arabskih-emiratah-oae/1463_FruktyOAE_gallery215474946.jpg);
    width: 700px;
    height: 450px;
}
.top{
    width: 100%;
    height: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: darkcyan;
}
a[href^="http"]:after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(https://cdn0.iconfinder.com/data/icons/heroicons-ui/24/icon-external-link-16.png);
}
.arrow-next {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-image: url(https://vostoksos-frontend.github.io/Travel-ever/kislitsyn-gallery/sprite.png);
    text-indent: -9999rem;
    background-position: -115px -10px;
}
.arrow-next:hover {
    background-position: -666px -10px;
}