@import "colors.css";
body{
    color: red;
}
.btn.btn{
    color: green !important;
    font-size: 2rem;
}

button.btn{
    color: red;
}
.scroll{
    background-color: bisque;
    width: 200px;
    height: 100px;
    overflow: auto;
    color: black;
    font-family: 'IM Fell English SC', serif;
    text-shadow: 1px -0.5px 0px red, -1px 0.5px 0px green, 0px 0px 5px black;
    float: left;
}
.shrift{
    font-family: 'Pacifico', cursive;
}
.map{
    width: 280px;
    height: 225px;
    float: right;
}
.block{
    position: absolute;
    background-color: green;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 10px;
}
.block2{
    position: absolute;
    background-color: red;
    width: 200px;
    height: 200px;
    top: 50px;
    left: 50px;
}
.block3{
    position: absolute;
    background-color: blue;
    width: 200px;
    height: 200px;
    top: 90px;
    left: 90px;
}   