body{
    background-image: url(mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Muli', sans-serif;
    min-width: 1050px;
}
.main{
    width: 100%;
    height: 100px;
    background-color: lightblue;
    position: absolute;
}
.aim{
    margin: 10px;
    margin-right: 40px;
}
.home{
    margin-right: 60px;
    color: #6894b8;
}
.home:hover{
    margin-right: 60px;
    color: #495e8a;
    cursor: pointer;
}
.menu{
    margin-right: 60px;
    color: #6894b8;
}
.menu:hover{
    margin-right: 60px;
    color: #495e8a;
    cursor: pointer;
}
.about{
    margin-right: auto;
    color: #6894b8;
}
.about:hover{
    margin-right: auto;
    color: #495e8a;
    cursor: pointer;
}
.login{
    margin-right: 40px;
    color: #6894b8;
}
.login:hover{
    margin-right: 40px;
    color: #495e8a;
    cursor: pointer;
}
.sign{
    padding: 10px;
    border-radius: 10%;
    border: 1.2px solid #3068cf;
    color: #6894b8;
}
.sign:hover{
    padding: 10px;
    border-radius: 10%;
    border: 1.2px solid #abc2eb;
    color: #495e8a;
    cursor: pointer;
}
.hat{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}
.info{
    width: 55%;
    height: 260px;
    margin-top: 100px;
    margin-left: 70px;
    color: #273675;
    text-shadow: 0.5px 0.5px 10px gray;
}
.btn-get{
    width: 200px;
    height: 50px;
    border: none;
    color: whitesmoke;
    border-radius: 2px;
    margin-left: 70px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    background: linear-gradient(to right, #0563ce, #799ad8);
}
.btn-get:hover{
    width: 200px;
    height: 50px;
    border: 2px solid #abc2eb;
    color: #495e8a;
    border-radius: 2px;
    margin-left: 70px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    background: linear-gradient(to right, #799ad8, #799ad8);
    cursor: pointer;
}
.a{
    font-size: 50px;
}
.w{
    font-size: 30px;
}
.o{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #6894b8;
}
a:hover{
    color: #495e8a;
    text-shadow: 0px 0px 10px gray;
}
